<!DOCTYPE html> 
<html> 
  
<head> 
    <title>Body-Parser Module Demo</title> 
</head> 
  
<body> 
    <h1>Form</h1> 
  
    <form method="POST" action="/path"> 
    <input type="text" name="str">
    <br>
    <input type="submit">
    </form> 
</body> 
  
</html> 